<div class="main-content">
	<div class="table-files">
		<table class="table mb0 noselect">
			<thead>
				<tr>
					<th ng-repeat="header in self.headerList">
						<a href="">
							{{ header }}
						</a>
					</th>
					<th ng-if="self.actions">
						<a href="">
							Actions
						</a>
					</th>
				</tr>
			</thead>
			<tbody class="file-item" ng-repeat="(itemIdx, item) in self.itemList">
				<tr class="item-list" ng-class="{selected: self.isSelected(item)}">
					<td class="hover" ng-repeat="(headerIdx, header) in self.headerList" ng-attr-title="{{ item[header] }}" ng-click="self.click(item, $event)">
						<span ng-if="header !== 'State'">
							{{ item[header] }}
						</span>
						<div ng-if="header === 'State'">
							<span ng-if="item[header] === 'running'" class="label label-success">running</span>
							<span ng-if="item[header] !== 'running'" class="label label-danger">stopped</span>
						</div>
					</td>
					<td style="padding: 0;">
						<span>
							<action-bar actions="self.actions" item="item"></action-bar>
						</span>
					</td>
				</tr>
				<!-- <tr ng-if="self.isSelected(itemIdx)"> -->
				<!-- 	<td></td> -->
				<!-- 	<td ng-repeat="stat in item.Stats">{{ stat[0] }}: {{ stat[1] | formatSize}}</td> -->
				<!-- </tr> -->
			</tbody>
		</table>
	</div>
</div>
